/* *************SECTION NO.1 - OUR STRENGTHS ************ */

.ssection-overlay{
    background-color: var(--bg-color);
}

.our-strengths__list,       /* ### Section - our strengths ### */
.our-job__list,             /* ### Section - our job ### */
.our-team__list,            /* ### Section - our team ### */
.our-clients__list{
    display: flex;
    align-items:center;
    gap: 30px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;

    color: $secondaryColor;
}

.our-strengths__list--distance{
    padding-top: 94px;
}

.our-strengths__icon{   /* svg */
    margin-bottom: 30px;

    background-color: var(--bg-color);
    border-radius: 4px;
}

.our-strengths__list .our-strengths__paragraph{ /* paragraph */
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;

    letter-spacing: 0.03em;

    color: $thirdColor;
}

/* ********* END SECTION NO.1 - OUR STRENGTHS ************ */