/* ************* SECTION NO.4 - OUR CLIENTS *************** */

.our-clients__icon{     /* svg */
    margin: 0px;

    width: 170px;
    height: 92px;

    fill: $iconColor;

    box-sizing: border-box;
    border: 1px solid $iconColor;
    border-radius: 4px;

    transition-property: border-color, fill;    /* transition */
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients__icon:hover{
    fill: $mainColor;
    border-color: $mainColor;
}

.our-clients__item > a:focus .our-clients__icon{
    fill: $mainColor;
    border-color: $mainColor;
}

.our-clients__list--distance{
    padding-top: 50px;
}

/* ********* END SECTION NO.4 - OUR CLIENTS *************** */