.foter__item--collocation{      /* ### form - newsletter ### */
    position: relative;
    padding-right: 350px;
    margin-top: 0px;
    left: 78px;
}

.foter__form{
    margin: 0px;
    padding-top: 10px;
}

.foter__field-email{
    position: absolute;
    left: 0px;
    top: 62px;
    padding: 15px 0px 15px 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: var(--contact-foter-color);

    width: 358px;

    background-color: var(--main-background-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.foter__btn{
    display: flex;
    align-items: center;
    text-align: center;

    position: absolute;

    margin-top: 29px;
    margin-left: 370px;
    padding: 10px 13px 10px 42px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;

    letter-spacing: 0.06em;

    color: var(--text-btn-color);   
    background-color: var(--main-color); 

    border: 0px;
    border-radius: 4px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foter__btn:hover,
.foter__btn:focus{
    cursor: pointer;
    opacity: 0.5;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.foter__icon-form{
    width: 24px;
    height: 24px;

    margin-left: 24px;

    fill: var(--text-btn-color);
}