.foter_item{                /* ### form - newsletter ### */
    &--collocation{      
        position: relative;
        padding-right: 350px;
        margin-top: 0px;
        left: 78px;
    }

    & .foter__form{
        margin: 0px;
        padding-top: 10px;

        & .foter__field-email{
            position: absolute;
            left: 0px;
            top: 62px;
            padding: 15px 0px 15px 16px;
        
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
        
            letter-spacing: 0.03em;
        
            color: $foterContactColor;
        
            width: 358px;
        
            background-color: $mainBgColor;
        
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
        }
        
    }
}

.foter__icon-form{
    width: 24px;
    height: 24px;

    margin-left: 24px;

    fill: $fourthColor;
}



