.header-navigation__list{           /* ### Menu navigation ### */
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43px;
    margin-left: 93px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em; 

    margin-right: 364px;
}

