.main-head__logo{           /* ### Logo ### */
    margin: 0px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;

    letter-spacing: 0.03em;

    color: $secondaryColor;
    text-decoration: none;
}

.main-head__logo--color{
    color: $mainColor;
}

.foter__logo{           /* ### Logo ### */
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;

    letter-spacing: 0.03em;

    color: $fourthColor;
    text-decoration: none;
}

.foter__logo--color{
    color: $mainColor;
}