.our-clients__link{
   &:hover,
   &:focus{
    fill:  $mainColor;
    border-color: $mainColor;

        & .our-clients__icon{
            fill:  $mainColor;
            border-color: $mainColor;
        }
   }
}